{% extends 'admin/layout.html.twig' %}

{% block page_title %}Detalle de Trivia{% endblock %}

{% block content %}
    <div class="mb-3">
        <a href="{{ path('admin_trivia_index') }}" class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Volver
        </a>
        <a href="{{ path('admin_trivia_edit', {id: trivia.id}) }}" class="btn btn-warning">
            <i class="fa fa-edit"></i> Editar
        </a>
    </div>

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">{{ trivia.id }}</dd>

                <dt class="col-sm-3">Nombre:</dt>
                <dd class="col-sm-9">{{ trivia.nombre }}</dd>

                <dt class="col-sm-3">Descripción:</dt>
                <dd class="col-sm-9">{{ trivia.descripcion }}</dd>

                <dt class="col-sm-3">Fecha de Creación:</dt>
                <dd class="col-sm-9">{{ trivia.createdAt ? trivia.createdAt|date('d/m/Y H:i:s') : '-' }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
